html {
  visibility: hidden;
  opacity:0;
}

#container {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

#header {
  background-color: rgba(81,81,81,0.7);
  position: fixed;
  width: 100%;
  min-width: 384px;
  top: 0px;
  color: #fff;
  padding: 24px;
  z-index: 999;
  transition: 0.2s;
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.section-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.section-links > div {
  padding: 0 20px;
}

.section-links div:last-child {
  background-color: rgba(135,165,85,0.5);
  border-radius: 25px 0;
}

#header-link-special {
  font-weight: bold;
  font-style: italic;
  color: rgb(241,207,57);
}

#header-logo {
  font-size: 36px;
}

#pancake {
  display: none;
}

.hero {
  min-height: 100vh;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  /* background: url('../images/hero2.png') no-repeat center; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
}

.hero-text {
  font-family: 'Courgette', cursive;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  padding-top: calc(100vh * 2/5);
  padding-bottom: calc(100vh * 3/5);
  width: 100%;
}

.hero-title {
  font-size: 60px;
}

.hero-subtitle {
  font-size: 25px;
}

.center-text {
  text-align: center;
}

h1, h3 {
  font-family: 'Courgette', cursive;
  margin-top: 0;
}

a:link {
  text-decoration: none;
}

a:hover, a:visited, a:active {
  text-decoration: overline;
}

.large-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(81,81,81,0.75);
}

.large-image-text {
  width: 35%;
  padding: 45px;
  color: #fff;
}

#large-porch-image {
  width: calc(100vw * 0.65);
}

.email-link {
  color: pink;
  text-decoration: none;
}

.container-padding {
  padding: 75px 250px;
}

.about-shop {
  background-color: #fff;
  width: 100vw;
}

.about-shop-container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.about-shop-text {
  padding-right: 25px;
}

.about-shop-image {
    display: none;
}

.about-shop-image > img {
  width: 252px;
  border-radius: 6px;
}

.featured-item {
  background-color:	rgba(135,165,85,0.7);
  width: 100vw;
}

.featured-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.featured-item-text {
  padding: 35px;
  text-align: center;
  background-color: rgba(241,207,57,0.7);
  margin: auto;
  border-radius: 6px 75px;
}

.featured-item-image > img {
  width: 452px;
  border-radius: 75px 6px;
}

.about-me {
  background-color: rgba(81,81,81,0.75);
  width: 100vw;
  color: #fff;
}

.about-me-heading {
  text-decoration: underline;
  font-weight: bold;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  /* padding-right: 10px; */
}

.about-me-text {
  padding: 20px 0;
}

.about-me-video {
  padding-left: 20px;
  display: none;
}

.about-me-video > video {
  width: 336px;
  height: 252px;
  border-radius: 6px;
}

.text-slant {
  font-style: italic;
}

.portfolio-grid {
  background-color: #fff;
}

#grid_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.fallback-images {
  display: none;
}

.thumbnail-short {
  width: 275px;
  height: 207px;
  /* border-radius: 6px; */
  border-radius: 50px 6px;
}

.thumbnail-long {
  width: 275px;
  height: 366px;
  /* border-radius: 6px; */
  border-radius: 50px 6px;
}

.image-container div:last-child {
  width: 275px;
  margin: 10px;
  padding-bottom: 40px;
}

.desc-container {
  width: 275px;
  margin: 10px;
  padding-bottom: 40px;
}

.additional-info {
  background-color: rgba(81,81,81,0.75);
  color: #fff;
}

.carousel-div {
  display: none;
}
.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* align-items: flex-start; */
}
.carousel-iframe {
  width: calc(100vw - 120px);
  height: 250px;
  /* text-align: center; */
  border: none;
}

.post_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.pub_date_read_more {
  display: flex;
  flex-direction: row;
}
.pub_date, .read_more {
  display: inline-block;
  width: 50%;
}
.read_more {
  text-align: right;
  padding-right: 50px;
}
.post_img > img {
  width: 400px;
  border-radius: 6px;
}
.blog_container {
  background-color: rgba(255, 182, 193, 0.77);
  display: none;
}

#footer {
  background-color: #515151;
  color: #fff;
  padding: 10px;
  width: 100vw;
  box-shadow:           3px 3px 5px 4px rgba(25,25,25,0.4);
  -moz-box-shadow:      3px 3px 5px 4px rgba(25,25,25,0.4);
  -webkit-box-shadow:   3px 3px 5px 4px rgba(25,25,25,0.4);
}

.footer-links {
  font-size: 0.8em;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links-container {
  text-align: left;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: white;
  padding: 17px;
  text-align: right;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  min-width: 115px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #842242;
  border-radius: 25px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 0 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  width: 334px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 0 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

html, body {
  background-image: url('https://www.lar-mo.com/images/pmd/hero2.png');
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  background-position: top, center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

@media all and (max-width: 1400px) {
  html, body {
    background-attachment: inherit;
  }
  .large-image, .about-me, .additional-info {
    background:
      linear-gradient(
        rgba(81, 81, 81, 0.7),
        rgba(81, 81, 81, 0.7)
      ),
      url('../images/hero2.png');
    background-size: cover;
  }
  .hero-text {
    padding: calc(100vh/2 - 50px) 20px;
  }
  .container-padding {
    padding: 75px 100px;
  }
  .thumbnail-short {
    width: 245px;
    height: 184.4px;
  }
  .thumbnail-long {
    width: 245px;
    height: 326.1px;
  }
  .image-container div:first-child,
  .image-container div:last-child  {
    width: 245px;
  }
}

@media all and (max-width: 800px) {
  body {
    font-size: 0.82em;
  }
  h1 {
    font-size: 2.1em;
  }
  #header {
    padding: 10px;
  }
  #header-logo {
    display: none;
  }
  .header-links {
    font-size: 0.9em;
    justify-content: space-around;
  }
  .header-links > div {
    padding: 0 10px;
  }
  .container-padding {
    padding: 75px 120px;
  }
  .large-image-text {
    width: 80%;
    padding: 45px;
    color: #fff;
  }
  .large-image-img > img {
    width: 500px;
  }
  .featured-item-image > img {
    width: 300px;
  }
  .featured-item-text {
    padding: 20px;
  }
  .about-me-container {
    flex-direction: column-reverse;
  }
  .about-me-video > video {
    width: 257px;
    height: 200px;
  }
  .about-me-video {
    text-align: left;
    padding-left: 0;
  }
}
@media all and (max-width: 575px) {
  body {
    font-size: 0.82em;
  }
  h1 {
    font-size: 2.1em;
  }
  #header {
    padding: 5px;
  }
  .section-links {
    display: none;
  }
  #pancake {
    display: inline-block;
    /* padding: 10px 15px; */
  }
  .header-links {
    font-size: 1.0em;
    justify-content: space-around;
  }
  .header-links > div {
    padding: 0 10px;
  }
  .hero-title {
    font-size: 45px;
  }
  .hero-subtitle {
    font-size: 20px;
  }
  .container-padding {
    padding: 70px 90px;
  }
  .large-image {
    flex-direction: column;
  }
  .large-image-text {
    width: 99%;
    padding: 45px;
    color: #fff;
  }
  .large-image-img > img {
    width: auto;
  }
  .featured-item-container {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 500px) {
  #header {
    padding: 0px;
  }
  #header-logo {
    font-size: 20px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-subtitle {
    font-size: 15px;
  }
  .container-padding {
    padding: 60px 75px;
  }
  .large-image {
    flex-direction: column;
  }
  .large-image-text {
    width: 99%;
    padding: 45px;
    color: #fff;
  }
  #large-porch-image {
    width: 100vw;
  }
}

html, body {
  visibility: visible;
  opacity: 1;
}
