html, body {
  visibility: hidden;
  opacity:0;
}

/* Run on https://autoprefixer.github.io/ to compile CSS */
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  height: 50px;
  width: 50px;
  border: 5px solid #ddd;
  border-left-color: #009688;
  border-radius: 50px; /* border-radius: 50% */
  -webkit-animation: animation-rotate 950ms cubic-bezier(.64,2,.56,.6) infinite;
  animation: animation-rotate 950ms cubic-bezier(.64,2,.56,.6) infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#container {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  opacity:0;
}

#header {
  background-color: rgba(255,255,255,0.85);
  position: fixed;
  width: 100%;
  min-width: 384px;
  top: 0;
  color: #000;
  font-weight: 500;
  padding: 18px;
  z-index: 3;
  transition: 0.2s;
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.section-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.section-links > div {
  padding: 0 20px;
}

#header-logo {
  font-size: 36px;
}

#pancake {
  display: none;
}

.hero {
  min-height: 100vh;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  /* background: url('../images/hero2.png') no-repeat center; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  z-index: 1;
}

.hero-text {
  font-family: 'Courgette', cursive;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  padding-top: calc(100vh * 7/20);
  padding-bottom: calc(100vh * 13/20);
  width: 100%;
}

#hero-title {
  font-size: 60px;
}

#hero-subtitle {
  font-size: 25px;
}

.center-text {
  text-align: center;
}

h1, h3 {
  font-family: 'Courgette', cursive;
  margin-top: 0;
}

a:link {
  text-decoration: none;
}

a:hover, a:visited, a:active {
  text-decoration: overline;
}

.large-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(255,255,255,0.85);
}

#large-image-text {
  width: 35%;
  padding: 45px;
  color: #000;
}

#large-porch-image {
  width: calc(100vw * 0.65);
}

.email-link {
  color: pink;
  text-decoration: none;
}

.container-padding {
  padding: 75px 250px;
}

.about-shop {
  background-color: #fff;
  width: 100vw;
}

.about-shop-container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

#about-shop-text {
  padding-right: 15px;
}

#about-shop-image {
  display: block;
}

#about-shop-image > img {
  width: 252px;
  border-radius: 50px 6px;
}

/* Special = Featured */

#featured {
  /* background-color: rgba(112,128,144,0.5); */
  /* background-color: #f19cbb; */
  background: linear-gradient(to right, #9c5482, #f5dd00, #9c5482);
  border-radius: 25px 0;
  display: block;
}

#header-link-special {
  font-weight: bold;
  /* font-style: italic; */
  /* color: rgb(136,39,83); */
  color: #000;
}

.featured-item {
  background: linear-gradient(to right, #9c5482, #f5dd00, #9c5482);
  width: 100vw;
  z-index: 1;
  position: fixed;
  box-shadow:           0 -10px 30px 5px rgba(25,25,25,0.6);
  -moz-box-shadow:      0 -10px 30px 5px rgba(25,25,25,0.6);
  -webkit-box-shadow:   0 -10px 30px 5px rgba(25,25,25,0.6);
  bottom: 0;
  opacity: 0;
}

.featured-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  min-height: 150px;
}

#featured-item-text {
  padding: 25px;
  text-align: center;
  /* background-color: rgba(112,128,144,0.7); */
  background-color: #fff;
  border-radius: 6px 57px;
  max-width: 350px;
  margin-right: 10px;
}

#featured-item-image > img {
  width: auto;
  height: 130px;
  border-radius: 6px 57px;
  transition: transform .2s;
}

#featured-item-image > img:hover {
  transform: scale(1.25);
}

#close_button {
  position: absolute;
  left: 45px;
  bottom: 45px;
  font-size: 45px;
  color: #fff;
  text-decoration: none;
}

.contactme > a {
  text-decoration: underline;
}

.about-me {
  background-color: rgba(255,255,255,0.85);
  width: 100vw;
  color: #000;
}

.about-me-heading {
  text-decoration: underline;
  font-weight: bold;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about-me-text {
  padding: 20px 0;
}

#video-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* display: none; */
  background-color: rgba(255,255,255,0.1);
}

#video-container > video {
  width: 35vw;
  border-radius: 6px;
}

#about-me-photo {
  text-align: center;
  margin: auto 0;
  padding: 15px;
}

#about-me-logos {
  text-align: center;
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
}

#about-me-photo > div > img {
  width: 300px;
  border-radius: 6px 57px;
}

#fdi-logo {
  width: 200px;
}

.text-slant {
  font-style: italic;
}

.portfolio-grid {
  background-color: #fff;
}

#grid_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.fallback-images {
  display: none;
}

.thumbnail-short {
  width: auto;
  height: 207px;
  /* border-radius: 6px; */
  border-radius: 50px 6px;
  transition: transform .2s;
}

.thumbnail-short:hover,
.thumbnail-long:hover {
  transform: scale(1.25);
}

.thumbnail-long {
  width: auto;
  height: 366px;
  /* border-radius: 6px; */
  border-radius: 50px 6px;
  transition: transform .2s;
}

.image-container div:last-child {
  width: 275px;
  margin: 10px;
  padding-bottom: 40px;
}

.desc-container {
  width: 275px;
  margin: 10px;
  padding-bottom: 40px;
}

.additional-info {
  background-color: rgba(81,81,81,0.75);
  color: #fff;
}

.carousel-div {
  display: block;
}
.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* align-items: flex-start; */
}
.carousel-iframe {
  width: calc(100vw - 120px);
  height: 250px;
  /* text-align: center; */
  border: none;
}

.post_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.pub_date_read_more {
  display: flex;
  flex-direction: row;
}
.pub_date, .read_more {
  display: inline-block;
  width: 50%;
}
.read_more {
  text-align: right;
  padding-right: 50px;
}
.post_img > img {
  width: 400px;
  border-radius: 50px 6px;
}
.blog_container {
  background-color: #7F5B94;
  display: block;
  color: #fff;
}

#footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  width: 100vw;
  box-shadow:           3px 3px 5px 4px rgba(25,25,25,0.4);
  -moz-box-shadow:      3px 3px 5px 4px rgba(25,25,25,0.4);
  -webkit-box-shadow:   3px 3px 5px 4px rgba(25,25,25,0.4);
}

.footer-links {
  font-size: 0.8em;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links-container {
  text-align: left;
  /* margin-bottom: 140px; */
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 10px;
  color: #000;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: #000;
  padding: 17px;
  text-align: right;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  min-width: 115px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #5d7548;
  border-radius: 25px 0;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 0 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  width: 334px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 0 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

html, body {
  /* background-image: url('https://www.lar-mo.com/images/pmd/hero2.png'); */
  background-image: url('https://www.pattymdesigns.com/images/IMG_1687-lightened-3761-2302.jpg');
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  background-position: top, center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

@media all and (max-width: 1400px) {
  html, body {
    background-attachment: inherit;
  }
  .large-image, .about-me, .additional-info {
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.85),
        rgba(255, 255, 255, 0.85)
      ),
      url('../images/hero2.png');
    background-size: cover;
  }
  .hero-text {
    padding: calc(100vh/2 - 50px) 20px;
  }
  .container-padding {
    padding: 75px 100px;
  }
  .thumbnail-short {
    width: 245px;
    height: 184.4px;
  }
  .thumbnail-long {
    width: 245px;
    height: 326.1px;
  }
  .image-container div:first-child,
  .image-container div:last-child  {
    width: 245px;
  }
}

@media all and (max-width: 900px) {
  .header-links {
    font-size: 0.9em;
    justify-content: space-around;
  }
}

@media all and (max-width: 800px) {
  body {
    font-size: 0.82em;
  }
  h1 {
    font-size: 2.1em;
  }
  #header {
    padding: 10px;
  }
  #header-logo {
    display: none;
  }
  .header-links {
    font-size: 0.9em;
    justify-content: space-around;
  }
  .header-links > div {
    padding: 0 10px;
  }
  .container-padding {
    padding: 75px 120px;
  }
  #large-image-text {
    width: 80%;
    padding: 45px;
    /* color: #000; */
  }
  #large-image-img > img {
    width: 500px;
  }
  .featured-item-container {
    min-height: 140px;
  }
  #featured-item-image > img {
    width: auto;
    height: 120px;
  }
  #featured-item-text {
    padding: 20px;
  }
  .about-me-container {
    flex-direction: column-reverse;
  }
  #about-me-logos > a > img {
    width: 150px;
  }
  .about-me-container, .about-shop-container {
    flex-direction: column;
  }
  #about-shop-text {
    padding-right: 0px;
  }
  #featured-item-image :last-child,
  #featured-item-image :first-child {
    display: none;
  }
}
@media all and (max-width: 675px) {
  .large-image {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #large-image-img {
    padding: auto;
    margin: auto;
  }
  #large-image-img > img {
    border-radius: 6px;
  }
}
@media all and (max-width: 575px) {
  body {
    font-size: 0.82em;
  }
  h1 {
    font-size: 2.1em;
  }
  #header {
    padding: 5px;
  }
  .section-links {
    display: none;
  }
  #pancake {
    display: inline-block;
    /* padding: 10px 15px; */
  }
  .header-links {
    font-size: 1.0em;
    justify-content: space-around;
  }
  .header-links > div {
    padding: 0 10px;
  }
  #hero-title {
    font-size: 45px;
  }
  #hero-subtitle {
    font-size: 20px;
  }
  .container-padding {
    padding: 70px 90px;
  }
  .large-image {
    flex-direction: column;
  }
  #large-image-text {
    width: 99%;
    padding: 45px;
    /* color: #000; */
  }
  #large-image-img > img {
    width: 65vw;
    margin-bottom: 30px;
    border-radius: 6px;
  }
  #video-container > video {
    width: 100%;
    border-radius: 6px;
  }
}
@media all and (max-width: 500px) {
  #header {
    padding: 0px;
  }
  #header-logo {
    font-size: 20px;
  }
  #hero-title {
    font-size: 40px;
  }
  #hero-subtitle {
    font-size: 15px;
  }
  .container-padding {
    padding: 60px 75px;
  }
  .large-image {
    flex-direction: column;
  }
  #large-image-text {
    width: 99%;
    padding: 45px;
    /* color: #fff; */
  }
  #large-porch-image {
    width: 100vw;
  }
  #close_button {
    left: 10px;
    bottom: 2px;
    font-size: 25px;
  }
}

html, body {
  visibility: visible;
  opacity: 1;
}
